@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.swiper-button-prev, .swiper-button-prev::after, .swiper-button-next::after, .swiper-pagination-bullet-active {
  color: #06D6A0;
}

#pdf-controls {
  display: none;
}

#WACStatusBarContainer {
  display: none;
}